* {
    margin: 10px;;
    padding: 10px;;
    
}
body {background-color: lightskyblue;}

header {
    width: 100%;
    overflow: auto;
    padding:50px;
    margin:50px;
    display: inline-block;
    border-top:40px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:peachpuff;
    color:black;
}
header a{
    text-decoration: none;
    color:White
}
header nav {
    float: right;
margin: 7px 0;

}
header nav ul li 
{display:inline;
    height:25px;
}

header nav ul li a{
    margin:0 30;
    font-weight: lighter;
    font-size:22px;
    color:black;
    display:inline;

}
header h1 {
    font-weight: bold;
    font-size:36px;
    color: black;
    margin:0;}

.primary-border{display: inline;}

.about-me { 
    height: 800px;
    background-image:url(../porfolio/photos/4.JPG);
    background-size: cover;
    background-position: center;
    align-content: center;
    padding:10px;
    margin:10px;
    display: inline-flex;

}
.contact-form{
    background-color: peachpuff;
    width: 551px;
    border: 15px solid lavender;
    padding: 50px;
    margin: 20px;
}

    
    #Tye-dye{
        background-color: peachpuff;
        width: 815px;
        border: 15px solid lavender;
        padding: 50px;
        margin: 20px;
         }
         a:-webkit-any-link { text-decoration: none;
        color: black;}
.Coding {background-color: peachpuff;
    width: 815px;
    border: 15px solid lavender;
    padding: 50px;
    margin: 20px;}
     
    
    .Photography{
        background-color: peachpuff;
  width: 815px;
  border: 15px solid lavender;
  padding: 50px;
  margin: 20px;
    }

    /*footer*/
 .footer {
     position:fixed;
     width: 100%;
text-align: center;
padding-top: 15px;
color:white;
background-color: peachpuff;
bottom:0;
box-shadow: 5px 5px 6px rgba(0,0,0,0.)
 }


    .flex-row {
        display:flex;
    }